* {
  background: #1e1b16;
  foreground: #e9d8c3;
  border-color: #15120e;
  selected-background: #c47f17;
  selected-foreground: #1e1b16;
  separatorcolor: #2a241d;
}

window {
  background-color: #1e1b16;
  border-color: #c47f17;
}

element selected {
  background: #c47f17;
  foreground: #1e1b16;
}
